#container{
    background-color: aliceblue;
}

h1{
    text-align: center;
}

.lead {
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#link{
    display:flex;
    justify-content:center;
align-items: center;
margin-top: 15px;
}

#resume{
    display:flex;
    justify-content:center;
align-items: center;
margin-top: 15px;
}
#git{
    display:flex;
    justify-content:center;
align-items: center;

}

