#container{
    background-color: aliceblue;
}

#title{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.lead {
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
   
}

#link{
    display:inline-flex;
    justify-content:center;
align-items: center;
margin-top: 15px;
margin-left: 5px;

}

#resume{
    display:inline-flex;
    justify-content:center;
align-items: center;
margin-top: 15px;
margin-left: 20px;
}
#git{
    display:inline-flex;
    justify-content:center;
align-items: center;
margin-top: 15px;
margin-left: 20px;

}

#janimg{
   margin-left: 130%;

}

#touch{
    display:inline-flex;
    justify-content:center;
align-items: center;
  
}

@media (max-width: 375px) {
    #janimg{
        margin-left: 50%;
     
     }

#link{
    margin-left: 0px;
    
}

#resume{
    margin-left: 0px;
}

#git{
    margin-left: 0px;
}


}