
.nav-link{

    color: aliceblue;

}
@media (max-width: 280px){

    .field{
        width: 200px;
    }
    .nav-link{
        display:flex;
        justify-content:center;
    align-items: center;
    }
}