h1{
    text-align: center;
}

.button  {
    display:flex;
    justify-content:center;
align-items: center;
margin-bottom: 10px;
    

}

.ttl{
  font-weight: bold;
 

}


/* Media Quesries*/
@media (min-width: 768px) {
    .button{

        margin-top: 60px;

    }
    
}

@media (min-width: 375px) {
    #title{
     
        font-size: 30px;
        font-weight: bold;
        
    }
    
}

@media (max-width: 360px) {
    #title{
     
        font-size: 20px;
        font-weight: bold;
        
    }
    
}